/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/styles/index.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Recursive Casual Regular";
  src: url("/src/styles/fonts/Recursive_Casual-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #bca7d7; */
}

/* main {
  margin-top: 60px;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

header {
  background-color: #ffffff;
  height: 20px;
  margin-bottom: 18px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div {
  display: flex;
  /* gap: 20px; */
  align-items: center;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/styles/home.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@font-face {
  font-family: "Open Sans";
  src: url("/src/assets/fonts/OpenSans-Light.ttf") format("truetype");
  /* font-style: light; */
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("/src/assets/fonts/OpenSans-Regular.ttf") format("truetype");
  /* font-style: light; */
}

.bold-sans {
  font-weight: bold;
}

.hello-text {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 50;
  max-width: 1000px;
  padding: 50px;
  margin: auto;
  margin-top: 30px;

  /* padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 50px; */

  /* overflow: hidden;
  border-right: 0.15em solid #000000;
  animation: typing 3s steps(55, end), blink-caret 1s step-end infinite; */
}

/* .home-text {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 50;
  padding-left: 80px;
  padding-right: 80px;
} */

.home-page {
  position: block;
  /* overflow-x: hidden; */
  margin-top: 100px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.square-button,
.square-portfolio-button,
.diamond-button {
  background-color: transparent;
  border: 0;
  font-family: "Digital Numbers";
  margin: 5px;
  cursor: pointer;
}

.rectangle-button {
  background-color: transparent;
  border: 0;
  font-family: "Digital Numbers";
  /* margin-left: 100px; */
  cursor: pointer;
  margin: 5px;
  size: 50%;
}

.rectangle-stack {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the buttons */
  gap: 0px;
}

.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%);
  text-align: center;
  color: black; /* Text color */
}

.square-text,
.diamond-text {
  font-size: 20px;
}

.square-text2 {
  font-size: 17px;
}

.square-image,
.diamond-image {
  height: 150px;
  position: relative;
  width: auto;
}

.square-button:hover .square-image {
  opacity: 0.8; /* Reduce opacity on hover */
}
.square-portfolio-button:hover .square-image {
  opacity: 0.8;
}

.diamond-button:hover .diamond-image {
  opacity: 0.8; /* Reduce opacity on hover */
}

.rectangle-button:hover .rectangle-image {
  opacity: 0.8; /* Reduce opacity on hover */
}

.rectangle-image {
  height: 40px;
  width: auto;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 54vw;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #502a13;
  }
}

.purple-bg {
  background-color: #bca7d7;
}

@keyframes float {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}

.square-portfolio-button {
  animation: float 3s ease-in-out infinite;
}

/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/styles/aboutme.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.aboutme-page {
  background-color: #e5f4f9;
  padding-bottom: 100px;
}

.aboutme-page-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}

.aboutme-header {
  font-family: "Digital Numbers";
  margin-bottom: 0px;
  /* margin-top: auto; */
}

.aboutme-title {
  font-family: "Digital Numbers";
  font-size: 20px;
  padding-top: 25px;
  margin-top: 0px;
}

.aboutme-text {
  font-family: "Open Sans Regular";
  border-radius: 30px;
  background-color: white;
  max-width: 800px;
  padding: 20px;
  margin: auto;
  color: black;
}

.back-home-button {
  font-family: "Digital Numbers";
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 100px;
  color: black;

  height: 10vh;
  width: 40vh;
  max-width: 40vh;
  font-size: 15px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.aboutme-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;

  margin: auto;
  gap: 20px;
}

/* .gates-image,
.colorado-image,
.colorado-smiling-image,
.andy-image,
.sunflower-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin: 20px auto;
  border-radius: 40px;
  margin: auto;
} */

.gates-image {
  border-radius: 40px;
  max-height: 300px;
}

.colorado-image {
  border-radius: 40px;

  max-height: 500px;
}
.colorado-smiling-image {
  margin-top: 80px;
  border-radius: 100px;
  height: 300px;
}

.andy-image {
  margin-top: 100px;
  border-radius: 40px;

  height: 300px;
}
.sunflower-image {
  margin-top: 80px;
  border-radius: 40px;

  height: 400px;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/styles/portfolio.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.lighter-purple-bg {
  background-color: white;
  /* background-color: #f5f5f5; */
  margin-top: 150px;
  padding-bottom: 250px;
  position: block;
  overflow-x: hidden;
}

.portfolio-text {
  font-family: "Digital Numbers";
  padding-top: 30px;
  font-size: 25px;
  padding-left: 100px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin-top: 70px;
}

/* .project-text {
  display: flex;
  margin-left: 200px;
  padding-left: 10px;
  margin-right: 260px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: white;
  font-family: "Open Sans Regular";
} */

.ignitecs-project-text {
  margin-left: 200px;
  padding-left: 10px;
  margin-right: 260px;
  padding-right: 10px;
  padding-top: 10px;
  /* padding-left: 200px; */
  background-color: white;
  font-family: "Open Sans Regular";
}
.project-image {
  border-radius: 40px;
  height: 300px;
  position: relative;
  width: auto;
}

.project-button {
  background-color: transparent;
  border-color: transparent;
}

.project-button:hover .project-image {
  cursor: pointer;
  opacity: 0.7; /* Reduce opacity on hover */
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/styles/projects.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.cosmic-text {
  font-family: "Open Sans Regular";
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  max-width: 800px;
  border-radius: 40px;
}
.cosmic-video {
  max-width: 300px;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-radius: 20px;
}
.cosmic-vid-button {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
}

.cosmic-image2 {
  max-width: 70%;
  /* width: 500px; */
  border-radius: 40px;
  margin: auto;
  margin-bottom: 20px;
  background-color: transparent;
}

.bold-cosmic {
  font-weight: bold;
  font-family: "Open Sans";
  margin-left: 50px;
}

.cosmic-title {
  font-family: "Digital Numbers";
  font-size: 20px;
  margin-left: 50px;
}

.project-text-box {
  background-color: white;
  border-radius: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 800px; */
  max-width: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Open Sans";
}

.cosmic-page {
  background-color: #d0b2da;
  padding-bottom: 100px;
  position: block;
  /* overflow-x: hidden; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
}

.lockin-page {
  background-color: #ffcfa873;
  padding-bottom: 100px;
  position: block;
  /* overflow-x: hidden; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
}

.ignite-page {
  background-color: #9da4ff73;
  padding-bottom: 100px;
  position: block;
  /* overflow-x: hidden; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
}

.lockin-square-button,
.ignite-square-button {
  background-color: transparent;
  border: 0;
  font-family: "Digital Numbers";
  font-size: 10px;
  margin: auto;
  cursor: pointer;
  margin-top: 40px;
}

.ignite-square-button {
  margin-right: 30px;
}

.lockin-square-text {
  font-size: 16px;
}

.lockin-square-button:hover .square-image {
  opacity: 0.8; /* Reduce opacity on hover */
}

.ignite-square-button:hover .square-image {
  opacity: 0.8; /* Reduce opacity on hover */
}

.lockin-video-div {
  margin: auto;
  /* width: 600px; */
  max-width: 70%;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.lockin-video {
  /* width: 600px; */
  /* max-width: 600px; */
  width: 100%;
}

.ignite-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.ignite-team {
  margin: auto;
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Open Sans";
}

.ignite-team-pic {
  height: 200px;
  max-height: 200px;
  border-radius: 40px;
}

.ignite-team-text {
  margin-top: 0px;
  max-width: 250px;
  /* width: 250px; */
}

