@font-face {
  font-family: "Noto Sans";
  src: url("/src/styles/fonts/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Digital Numbers";
  src: url("/src/assets/fonts/DigitalNumbers-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.home-button {
  font-family: "Digital Numbers";
  margin-top: 15px;
  margin-right: 150px;
  height: 10vh;
  width: 40vh;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
  justify-self: center;
}
.aboutme-button {
  font-family: "Digital Numbers";
  margin-left: 600px;
  margin-top: 15px;
  margin-right: 5px;
  height: 10vh;

  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
  /* justify-self: right; */
}

.email-button {
  margin-left: 5px;
  margin-top: 25px;
  height: 10vh;
  margin-right: 5px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}

.linkedin-button {
  margin-top: 25px;
  margin-right: 5px;
  height: 10vh;
  font-size: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}

.resume-button {
  margin-top: 25px;
  /* margin-right: 5px; */
  height: 10vh;
  /* width: 5vh; */
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
  /* justify-self: center; */
}

.linkedin-image,
.resume-image,
.email-image {
  height: 50%;
}

.thanks-text {
  font-family: "Digital Numbers";
  font-size: 15px;
  padding-top: 30px;
  padding-left: 50px;
}
