@font-face {
  font-family: "Open Sans";
  src: url("/src/assets/fonts/OpenSans-Light.ttf") format("truetype");
  /* font-style: light; */
}

.bold-sans {
  font-weight: bold;
}

.hello-text {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 50;
  padding-left: 80px;
  padding-right: 80px;
  /* overflow: hidden;
  border-right: 0.15em solid #000000;
  animation: typing 3s steps(55, end), blink-caret 1s step-end infinite; */
}

.home-text {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 50;
  padding-left: 80px;
  padding-right: 80px;
}

.home-page {
  position: block;
  overflow-x: hidden;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 54vw;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #502a13;
  }
}
