.cosmic-text {
  font-family: "Open Sans Regular";
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 40px;
}
.cosmic-video {
  margin-left: 300px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-radius: 20px;
}

.cosmic-image2 {
  height: 200px;
  border-radius: 40px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: transparent;
}

.bold-cosmic {
  font-weight: bold;
  font-family: "Open Sans";
  margin-left: 50px;
}

.cosmic-title {
  font-family: "Digital Numbers";
  font-size: 20px;
  margin-left: 50px;
}

.project-text-box {
  background-color: white;
  border-radius: 40px;
  margin-left: 250px;
  margin-right: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Open Sans";
}

.cosmic-page {
  background-color: #d0b2da;
  padding-bottom: 500px;
}

.lockin-page {
  background-color: #ffcfa873;
  padding-bottom: 500px;
}

.ignite-page {
  background-color: #9da4ff73;
  padding-bottom: 500px;
}

.lockin-square-button {
  background-color: transparent;
  border: 0;
  font-family: "Digital Numbers";
  font-size: 10px;
  margin-left: 350px;
  cursor: pointer;
  margin-top: 50px;
}

.lockin-square-text {
  font-size: 15px;
}

.lockin-square-button:hover .square-image {
  opacity: 0.8; /* Reduce opacity on hover */
}
