.cosmic-text {
  font-family: "Open Sans Regular";
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  max-width: 800px;
  border-radius: 40px;
}
.cosmic-video {
  max-width: 300px;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  border-radius: 20px;
}
.cosmic-vid-button {
  display: flex;
  gap: 50px;
  margin: auto;
}

.cosmic-image2 {
  max-width: 500px;
  /* width: 500px; */
  border-radius: 40px;
  margin: auto;
  background-color: transparent;
}

.bold-cosmic {
  font-weight: bold;
  font-family: "Open Sans";
  margin-left: 50px;
}

.cosmic-title {
  font-family: "Digital Numbers";
  font-size: 20px;
  margin-left: 50px;
}

.project-text-box {
  background-color: white;
  border-radius: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 800px; */
  max-width: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Open Sans";
}

.cosmic-page {
  background-color: #d0b2da;
  padding-bottom: 100px;
  position: block;
  /* overflow-x: hidden; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
}

.lockin-page {
  background-color: #ffcfa873;
  padding-bottom: 100px;
  position: block;
  /* overflow-x: hidden; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
}

.ignite-page {
  background-color: #9da4ff73;
  padding-bottom: 100px;
  position: block;
  /* overflow-x: hidden; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
}

.lockin-square-button,
.ignite-square-button {
  background-color: transparent;
  border: 0;
  font-family: "Digital Numbers";
  font-size: 10px;
  margin: auto;
  cursor: pointer;
  margin-top: 40px;
}

.ignite-square-button {
  margin-right: 30px;
}

.lockin-square-text {
  font-size: 15px;
}

.lockin-square-button:hover .square-image {
  opacity: 0.8; /* Reduce opacity on hover */
}

.lockin-video-div {
  margin: auto;
  /* width: 600px; */
  max-width: 70%;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.lockin-video {
  /* width: 600px; */
  /* max-width: 600px; */
  width: 100%;
}

.ignite-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.ignite-team {
  margin: auto;
  margin-top: 30px;
  margin-left: 30px;
  font-family: "Open Sans";
}

.ignite-team-pic {
  height: 200px;
  max-height: 200px;
  border-radius: 40px;
}

.ignite-team-text {
  margin-top: 0px;
  max-width: 250px;
  /* width: 250px; */
}
